body {
    height: calc(100dvh - 2rem);
    margin: 0;
    padding: 1rem;
}

.cell {
    width: 100%;
    background: #328af1;
    border-radius: 10px;
}

.nested-cell {
    height: 100%;
}

.grid {
    display: grid;
    gap: 1.5rem;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 40% 10% 1fr;
}

.nested-grid {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / span 3;
    grid-column-start: 2;
    background: #f44881;
}
