@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

::view-transition-group(*) {
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

::view-transition {
    pointer-events: none;
}

/* ----------
Header transition 
---------- */
::view-transition-new(header) {
    animation-name: slide-enter;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
}

::view-transition-old(header) {
    animation-name: slide-leave;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
}

/* ----------
Keyframes
---------- */
@keyframes slide-enter {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

@keyframes slide-leave {
    to {
        transform: translateY(1.5rem) scale(0.8);
        opacity: 0;
    }
}
